<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Platform Advert View</title>
</head>
<body>
  <a href="{{url}}/{{id+1}}">[{{tag}}] Link to here +1 : {{id+1}}</a>
  <table>
    <thead>
      <tr>
        <td>First</td>
        <td>Second</td>
      </tr>
    </thead>
    <tr>
      <td>{{first}}</td>
      <td>{{second}}</td>
    </tr>
  </table>
  <form action="./" method="post">
    <label for="first">First :</label>
    <input name="first" type="text">
    <label for="second">Second :</label>
    <input name="second" type="text">
    <input type="submit">
  </form>
</body>
</html>