{% include 'OChomePageBundle:Default:begin.html.twig' %}
{% include 'OChomePageBundle:Default:topbar.html.twig' %}
{% block body %}
  <div class="orange darken-4 pt-25 pb-25">
    <div class="container">

        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/hexagon.jpg') }}" class="mw-270" alt="The Hexagon">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>18/11/2017</strong></p>
                <p><i>The Hexagon</i></p>
                <p>Reading, United Kingdom</p>
              </div>
              
              <div class="card-action">
               
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/17649409?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit1">Éditer <i class="tiny material-icons">expand_more</i></a>
                
              </div>
              
              
              <ul id="edit1" class="dropdown-content">
               
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
                
              </ul>
              
            </div>
          </div>
        </div>

        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/sold_out.jpg') }}" class="mw-270" alt="Wedgewood Rooms">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>17/11/2017</strong></p>
                <p><i>Wedgewood Rooms</i></p>
                <p>Southsea, United Kingdom</p>
              </div>
              <div class="card-action">
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/17649408?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit2">Éditer <i class="tiny material-icons">expand_more</i></a>
              </div>
              <ul id="edit2" class="dropdown-content">
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/yum.jpg') }}" class="mw-270" alt="The Junction">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>15/11/2017</strong></p>
                <p><i>The Junction</i></p>
                <p>Cambridge, United Kingdom</p>
              </div>
              <div class="card-action">
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/17649404?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit3">Éditer <i class="tiny material-icons">expand_more</i></a>
              </div>
              <ul id="edit3" class="dropdown-content">
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>

         <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/glasgow.jpg') }}" class="mw-270" alt="The Glasgow Royal Concert Hall">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>09/11/2017</strong></p>
                <p><i>The Glasgow Royal Concert Hall</i></p>
                <p>Glasgow, United Kingdom</p>
              </div>
              <div class="card-action">
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/17649398?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit4">Éditer <i class="tiny material-icons">expand_more</i></a>
              </div>
              <ul id="edit4" class="dropdown-content">
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/palm.jpeg') }}" class="mw-270" alt="Palm Camayenne">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>27/10/2017</strong></p>
                <p><i>Palm Camayenne</i></p>
                <p>Conakry, Guinea</p>
              </div>
              <div class="card-action">
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/20167785?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit5">Éditer <i class="tiny material-icons">expand_more</i></a>
              </div>
              <ul id="edit5" class="dropdown-content">
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/arcadia.jpg') }}" class="mw-270" alt="Arcadia Stage">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>25/06/2017</strong></p>
                <p><i>Arcadia Stage</i> - DJ Set + Live Musicians</p>
                <p>Pilton, United Kingdom</p>
              </div>
              <div class="card-action">
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/18892417?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit6">Éditer <i class="tiny material-icons">expand_more</i></a>
              </div>
              <ul id="edit6" class="dropdown-content">
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="{{ asset('img/guine.jpg') }}" class="mw-270" alt="Festival des Arts Africains">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><strong>10/06/2017</strong></p>
                <p><i>Festival des Arts Africains</i></p>
                <p>Mer, France</p>
              </div>
              <div class="card-action">
                <a class="deep-orange-text text-darken-4" href="https://www.bandsintown.com/e/17652058?app_id=js_folothesource.com&came_from=242&affiliate_code=js_folothesource.com" target="_blank">Plus d'info</a>
                <a class="deep-orange-text text-darken-4 dropdown" href="#" data-activates="edit7">Éditer <i class="tiny material-icons">expand_more</i></a>
              </div>
              <ul id="edit7" class="dropdown-content">
                <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
                <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="center-align">
          <a class="btn-floating btn-large waves-effect waves-light skyblue modal-trigger" href="#addmodal" data-target="addmodal"><i class="material-icons">add</i></a>
        </div>
        <div id="addmodal" class="modal">
          <form class="row modal-content">
            <div class="col s12 m6">
              <img src="{{ asset('img/placeholder-square.jpg') }}" width="100%" alt="insert media">
            </div>
            <div class="col s12 m6">
              <input type="text" placeholder="Titre">
              <input type="date">
              <textarea class="materialize-textarea"></textarea>
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
          </form>
          <div class="row p-0 mb-0">
            <a class="col s6 p-25 red center-align white-text" onclick="$('.modal').modal('close')"><i class="material-icons">cancel</i></a>
            <a class="col s6 p-25 green center-align white-text" onclick="Materialize.toast('Terminé !', 4000);$('.modal').modal('close')"><i class="material-icons">check</i></a>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
{% include 'OChomePageBundle:Default:footer.html.twig' %}
{% include 'OChomePageBundle:Default:end.html.twig' %}