{% include 'OChomePageBundle:Default:begin.html.twig' %}
{% include 'OChomePageBundle:Default:topbar.html.twig' %}
{% block body %}
  <div class="row media">
    <div id="gallerycarousel" class="carousel carousel-slider minh-33vh">
      <h2>Our actions in Guinea</h2>
      <a class="carousel-item minh-33vh" href="#one!"><img class="minh-33vh" src="{{ asset('img/inauguration.jpg') }}" alt="well's inauguration"></a>
      <a class="carousel-item minh-33vh" href="#two!"><img class="minh-33vh" src="{{ asset('img/inauguration2.jpg') }}" alt="well's inauguration"></a>
      <a class="carousel-item minh-33vh" href="#three!"><img class="minh-33vh" src="{{ asset('img/needwater.jpg') }}" alt="people needs water"></a>
      <a class="carousel-item minh-33vh" href="#four!"><img class="minh-33vh" src="{{ asset('img/presentation.jpg') }}" alt="well's presentation"></a>
      <a class="carousel-item minh-33vh" href="#five!"><img class="minh-33vh" src="{{ asset('img/water.jpg') }}" alt="well's water"></a>
      <a class="carousel-item minh-33vh" href="#five!"><img class="minh-33vh" src="{{ asset('img/well.jpg') }}" alt="well"></a>
      <a class="carousel-item minh-33vh" href="#five!"><img class="minh-33vh" src="{{ asset('img/well2.jpg') }}" alt="well"></a>
      <a class="carousel-item minh-33vh" href="#five!"><img class="minh-33vh" src="{{ asset('img/well3.jpg') }}" alt="well"></a>
      <a class="carousel-item minh-33vh" href="#five!"><img class="minh-33vh" src="{{ asset('img/people.jpg') }}" alt="Guinea's people"></a>
    </div>
  </div>
  <div class="container media pb-25">
    <div class="row videos">
      <h2>What we have done - Videos</h2>
      <div class="col s12 m6">
        <iframe class="dropdown" src="https://www.youtube.com/embed/5-txLZLQFyQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-activates="edit1"></iframe>
        <ul id="edit1" class="dropdown-content">
          <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
          <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
        </ul>
      </div>
      <div class="col s12 m6">
        <iframe class="dropdown" src="https://www.youtube.com/embed/9VK2J6fuPr8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-activates="edit2"></iframe>
        <ul id="edit2" class="dropdown-content">
          <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
          <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
        </ul>
      </div>
    </div>
    <div class="row musics">
      <h2>Our Music</h2>
      <div class="col s12 m6">
        <iframe class="dropdown" src="https://www.youtube.com/embed/Y5xmB1U_zoM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-activates="edit3"></iframe>
        <ul id="edit3" class="dropdown-content">
          <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
          <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
        </ul>
      </div>
      <div class="col s12 m6">
        <iframe class="dropdown" src="https://www.youtube.com/embed/GG7ZeCG-uJk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen data-activates="edit4"></iframe>
        <ul id="edit4" class="dropdown-content">
          <li><a href="#addmodal" data-target="addmodal" class="modal-trigger black-text"><i class="material-icons">edit</i> Modifier</a></li>
          <li class="red"><a href="#!" class="black-text"><i class="material-icons">delete</i> Supprimer</a></li>
        </ul>
      </div>
    </div>
    
    <div class="center-align">
      <a class="btn-floating btn-large waves-effect waves-light skyblue modal-trigger" href="#addmodal" data-target="addmodal"><i class="material-icons">add</i></a>
    </div>
  </div>
  <div id="addmodal" class="modal center-align">
    <form class="row modal-content">
      <img src="{{ asset('img/placeholder-square.jpg') }}" width="50%" alt="insert media">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>
    <div class="row p-0 mb-0">
      <a class="col s6 p-25 red center-align white-text" onclick="$('.modal').modal('close')"><i class="material-icons">cancel</i></a>
      <a class="col s6 p-25 green center-align white-text" onclick="Materialize.toast('Terminé !', 4000);$('.modal').modal('close')"><i class="material-icons">check</i></a>
    </div>
  </div>
{% endblock %}
{% include 'OChomePageBundle:Default:footer.html.twig' %}
{% include 'OChomePageBundle:Default:end.html.twig' %}
